# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
.venv/
env/
venv/
ENV/

# Environment variables
.env
.env.*

# PyCharm settings
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs and local database
*.log
*.sqlite3
instance/
*.db

# Python packaging
*.egg
*.egg-info/
dist/
build/
pip-wheel-metadata/

# Cache
*.cache
.cache/
.pytest_cache/

# Compiled code
*.c
*.o

# Other temp files
*.bak
*.swp
*.tmp
*.orig

# Jupyter
.ipynb_checkpoints/

# VSCode (optional, if you use it)
.vscode/
